@import "tailwindcss";


:root {

--background:
#FCF8F5;

--foreground:
#2B2B2B;

--plum:
#6B3A5B;

--rose:
#C48B9F;

}



html {

scroll-behavior:smooth;

}



body {

background:
var(--background);

color:
var(--foreground);

font-family:
var(--font-lora),
serif;

}



h1,
h2,
h3,
h4 {

font-family:
var(--font-playfair),
serif;

letter-spacing:
-0.02em;

}



button,
a {

transition:
all .3s ease;

}



::selection {

background:
#C48B9F;

color:white;

}